.fc {
  --fc-border-color: #333;
  --fc-text-color: #fff;
  --fc-background-color: #444;
}

.fc.fc-col-header-cell-cushion {
  padding-top: 5px;
  padding-bottom: 5px;
}

.fc.fc-daygrid-event {
  background-color: #555;
  border-color: #333;
  color: #fff;
}

.fc.fc-timegrid-event {
  background-color: #555;
  border-color: #333;
  color: #fff;
}

.fc {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Georgia, serif;
}