body {
    background-color: #000000; /* Fondo negro */
}

.container {
    margin-top: 5rem;
}

.display-4 {
    color: #ffffff; /* Texto blanco */
    margin-bottom: 2rem;
}

a {
    color: rgb(255, 255, 255); /* Enlace blanco */
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none; /* Eliminar subrayado */
}

a:hover {
    color: #ffffff; /* Color de texto blanco en hover */
}

.btn-white {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border: 2px solid #000000; /* Borde negro */
    padding: 12px 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block;
    text-decoration: none; /* Eliminar subrayado */
}

.btn-white:hover {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border-color: #000000; /* Borde negro */
}

.btn-lg {
    padding: 1rem;
    font-size: 1.5rem;
}
